.heading {
  font-size: 20px !important;
  font-weight: bold !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.5px;
  text-align: left;
  color: #1d2130;
}

.pending-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 0px 0px 1vw;
  padding: 4px 6px;
  border-radius: 100px;
  background-color: #f6f6f6;
}
